@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@plugin "daisyui";

.active{
                font-weight: bold;
                color: #2A9D8F;
                background-color: black;
                
}